<section class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Peliculas App</h1>
    <p class="lead">Aplicación de peliculas.</p>
  </div>
</section>

<section class="container">
  <h2>En Cartelera</h2>
  <hr />
  <div class="row">
    <div class="col-sm-6" *ngIf="cartelera" >
      <div class="row">
        <div class="col-sm-12" class="div-pic-1" [ngStyle]="{'background-image': 'url( '+ ( cartelera[0] | peliculaImagen ) +' )'}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ ( cartelera[1] | peliculaImagen ) +' )'}">
        </div>
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ ( cartelera[2] | peliculaImagen ) +' )'}">
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="cartelera" >
      <div class="row">
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ ( cartelera[3] | peliculaImagen ) +' )'}">
        </div>
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url( '+ ( cartelera[4] | peliculaImagen ) +' )'}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" class="div-pic-1" [ngStyle]="{'background-image': 'url( '+ ( cartelera[5] | peliculaImagen ) +' )'}">
        </div>
      </div>
    </div>
  </div>
</section>

