<section class="container" *ngIf="pelicula">
    <h1 class="text-center mt-5">{{pelicula.original_title}}</h1>
    <hr/>
  <div class="row mt-5">
    <div class="col-md-5">
      <img [src]="pelicula | peliculaImagen:true | noFoto" 
           [alt]="pelicula.original_title"
           class="img-thumbnail img-fluid">
    </div>
    <div class="col-md-7 mb-5">
      <h3>Sinopsis</h3>
      <hr/>
      <p class="text-justify">{{ pelicula.overview | notexto}}</p>
      <p class="text-justify">{{ pelicula.tagline}}</p>
      <h4 class="text-justify">Frase Celebre: </h4>
      <p>{{pelicula.tagline}}</p>
      <p class="text-justify">
        Popularidad: <span class="badge badge-primary">{{ pelicula.popularity | number:'.0-0' }} / 10 </span>
      </p>
      <p class="text-justify">
        Voto promedio: <span class="badge badge-primary">{{ pelicula.vote_average }}</span>
      </p>
      <button [routerLink]="['/'+regresarA, busqueda ]"
              type="button" 
              class="btn btn-outline-danger push-5 mt-5">
              Volver
      </button>
    </div>
  </div>
 
</section>  